<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.huhao.samples.ddd.blogservice.adapters.outbound.persistence.blog.BlogMapper">

    <insert id="insert">
        insert into blog
        (
        id, author_id, created_at, draft_title, draft_body, draft_saved_at
        )
        values
        (
        #{blog.id}, #{blog.authorId}, #{blog.createdAt}, #{blog.draftTitle}, #{blog.draftBody}, #{blog.draftSavedAt}
        )
    </insert>

    <select id="findById" resultMap="records.blog">
        select *
        from blog
        where id = #{id}
    </select>

    <update id="update">
        update blog set
        id = #{blog.id},
        author_id = #{blog.authorId},
        created_at = #{blog.createdAt},
        draft_title = #{blog.draftTitle},
        draft_body = #{blog.draftBody},
        draft_saved_at = #{blog.draftSavedAt}
        where id = #{blog.id}
    </update>

</mapper>
